[Desktop Entry]
Name=IMGT_StatAssembly
StartupWMClass=IMGT_StatAssembly
Exec="IMGT_StatAssembly.AppImage"
Icon=../images/logo_software.png
Type=Application
Terminal=true
